<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>2025 Bible Trivia</title>
		<!-- <link rel="stylesheet" href="linkToCSS" /> -->
	</head>
	<body>
		<a href="/control">Control</a>
		<a href="/display">Display</a>
	</body>
</html>
